{% extends "base.html.twig" %}

{% block body %}
    <section id="main-slider" class="carousel" style="padding-bottom:200px">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Top Offers</h1>
                        <p class="lead">Get the best insurance offers and rates in our weekly email campaigns<br>Subscribe now an never miss out a deal</p>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Latest news</h1>
                        <p class="lead">Be the first one to get hands on data on new insurance products, latest news and updates <br>from InsureGuidance.com</p>
                    </div>
                </div>
            </div><!--/.item-->
			<div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Top Data</h1>
                        <p class="lead">Learn how to make money on of the latest finance and investment producs, learn all about insurance market to make educated dessisions</p>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
        <a class="prev" href="#main-slider" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </section><!--/#main-slider-->
	
    <section>
        <div class="container">
            <div class="box">
                <div class="row">
                <div class="col-lg-12 text-center" style="padding: 5px 2px;">
                   <h2 style="font-size:20px;">We are sorry you have decided to leave us and hope you will be back soon.</h2>
                    <p> As part of unsubscription process, an email was sent to email address, indicated on the previous step. Please check your email and confirm you desire to unsubscribe.</p>
                    <p> <strong> Please note: </strong> although majority of unsubscription requests are handled instantly, delays of up to 10 days may occur. </p>
                </div>
            </div>
            <!-- /.row -->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#about-us-->
{% endblock %}
