{% extends "base.html.twig" %}

{% block body %}
    <section id="main-slider" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Top Offers</h1>
                        <p class="lead">Get the best insurance offers and rates in our weekly email campaigns<br>Subscribe now an never miss out a deal</p>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Latest news</h1>
                        <p class="lead">Be the first one to get hands on data on new insurance products, latest news and updates <br>from InsureGuidance.com</p>
                    </div>
                </div>
            </div><!--/.item-->
			<div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Top Data</h1>
                        <p class="lead">Learn how to make money on of the latest finance and investment producs, learn all about insurance market to make educated dessisions</p>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
        <a class="prev" href="#main-slider" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
		
        <!-- subscription form -->
        <div class="subscribe-form" style="text-align:center; padding-top:50px;">
            <div class= "row">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="input-group margin-bottom-sm col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center margin-f">
                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                            {{ form_label(form.emailaddress) }}
                            {{ form_widget(form.emailaddress) }}
                    </div>              
                {{ form_end(form) }}
            </div>
        </div>	
    </section><!--/#main-slider-->
    
    <!-- WHO WE ARE -->
    <section id="about-us">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2>We are trully sorry you are leaving us and hope you will be back soon</h2>
                    <p class="lead">To unsubscribe please complete your email address in the field above and click "Unsubscribe" button</p>
                </div>
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#about-us-->
{% endblock %}
